<%= form_with(model: equipment_record) do |form| %>
  <% if equipment_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipment_record.errors.count, "error") %> prohibited this equipment_record from being saved:</h2>

      <ul>
        <% equipment_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
