<% content_for :title, "New equipment record" %>

<h1>Book Equipment: <%= @equipment_record.equipment.present? ? @equipment_record.equipment.name : "" %> </h1>

<%= render "form", equipment_record: @equipment_record %>

<br>

<div>
  <%= link_to "Back to Equipment List", equipment_index_path %>
</div>
