<% content_for :title, "New equipment record" %>

<h1>New equipment record</h1>

<%= render "form", equipment_record: @equipment_record %>

<br>

<div>
  <%= link_to "Back to equipment records", equipment_records_path %>
</div>
