<% content_for :title, "New equipment record" %>

<hgroup>
  <h1>Book Equipment: <%= @equipment_record.equipment.present? ? @equipment_record.equipment.name : "No Equipment Found" %> </h1>
  <p>Quantity: <%= @equipment_record.equipment.present? ? @equipment_record.equipment.quantity : "0" %> </p>
</hgroup>

<%= render "form", equipment_record: @equipment_record %>

<br>

<div>
  <%= link_to "Back to Equipment List", equipment_index_path %>
</div>
