<div id="<%= dom_id equipment %>">
  <div>
    <strong>Name:</strong>
    <%= equipment.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= equipment.description %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= equipment.quantity %>
  </div>

</div>
