<div id="<%= dom_id cuhk_equipment %>">
  <div>
    <strong>Name:</strong>
    <%= cuhk_equipment.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= cuhk_equipment.description %>
  </div>

</div>
