<% content_for :title, "Editing cuhk equipment" %>

<h1>Editing cuhk equipment</h1>

<%= render "form", cuhk_equipment: @cuhk_equipment %>

<br>

<div>
  <%= link_to "Show this cuhk equipment", @cuhk_equipment %> |
  <%= link_to "Back to cuhk equipment", cuhk_equipments_path %>
</div>
