<% content_for :title, "New cuhk equipment" %>

<h1>New cuhk equipment</h1>

<%= render "form", cuhk_equipment: @cuhk_equipment %>

<br>

<div>
  <%= link_to "Back to cuhk equipment", cuhk_equipments_path %>
</div>
