<p style="color: green"><%= notice %></p>

<% content_for :title, "Venue records" %>

<h1>Venue records</h1>

<div id="venue_records">
  <% @venue_records.each do |venue_record| %>
    <%= render venue_record %>
    <p>
      <%= link_to "Show this venue record", venue_record %>
    </p>
  <% end %>
</div>

<%= link_to "New venue record", new_venue_record_path %>
