<p style="color: green"><%= notice %></p>

<% content_for :title, "Venue records" %>

<h1>My Venue Bookings</h1>

<div id="venue_records">
  <% @venue_records.each do |venue_record| %>
    <%= render venue_record %>
  <% end %>
</div>

<%= link_to "Book New Venue", venues_path %>